{% extends "::base.html.twig" %}

{% block title %}GelatoBundle:Header:Contatti{% endblock %}

{% block body %}

     <div class="Buttons largo100">

    <div class="admin_personal">

        <form action="/" method="POST" name="inserimento-dati">

          <h3 class="inserisciDatiPers">Dati Personali:</h3>

           <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="gelateria" placeholder="Nome">
            </div>

            <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="cognome" class="input" placeholder="Cognome">  
            </div>

            <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="città" class="input" placeholder="Città">
            </div>

            <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="email" class="input" placeholder="Email">
            </div>

            <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="password" class="input" placeholder="Password">
            </div>

            <div class="ad_mod">
              <button class="ad_button">Modifica</button>
            </div>

            <div class="ad_pers_cerca">
              <button class="ad_button">Salva</button>
            </div>

        </form>

      </div> <!-- admin_pers -->

      <div class="admin_add">

         <div id="group_ad">

          <form action="/" method="POST" name="inserimento-dati">

          <h3 class="inserisciDatiAd">Aggiungi Amministratore:</h3>
           <div class="ad_ad_dati">
              <input class="ad_input" type="text" name="nome" placeholder="Nome"/>
            </div>

            <div class="ad_ad_dati">
              <input class="ad_input" type="text" name="cognome" class="input" placeholder="Cognome">
            </div>

            <div class="ad_ad_dati">
              <input class="ad_input" type="text" name="email" class="input" placeholder="Email">
            </div>
          </div> <!-- div id -->

          <div class="admin_cerca">
              <button class="ad_button">Aggiungi</button>
            </div>

        </form>
      </div> <!-- admin_add -->

      <div class="list_admins">

        <h3 class="list_ads">Amministratori:</h3>
          <div class="list_box">
          </div>
      </div>

    </div> <!-- buttons -->

      <div class="box_aggiungi_gelateria">

      {{ form_start(form) }}

         <h3 class="titolo_aggiungi_gelateria">Aggiungi Gelateria:</h3>

        <div class="input_area">
          <input class="admin_input" type="text" name="gelateria" placeholder="Gelateria"/>
          {{ form_row(form.name, {'attr': {'class': 'admin_input'}}) }}
        </div>

        <div class="input_area">
          <input class="admin_input" type="text" name="città" placeholder="Città"/>
          {{ form_row(form.city, {'attr': {'class': 'admin_input'}}) }}
        </div>

        <div class="input_area">
          <input class="admin_input" type="text" name="indirizzo" placeholder="Indirizzo"/>
          {{ form_row(form.address, {'attr': {'class': 'admin_input'}}) }}
        </div>

        <div class="input_area">
          <input class="admin_input" type="text" name="indirizzo" placeholder="Indirizzo"/>
          {{ form_row(form.phone, {'attr': {'class': 'admin_input'}}) }}
        </div>

        <div class="input_area">
          <input class="admin_input" type="text" name="indirizzo" placeholder="Indirizzo"/>
        </div>



        <div class="admin_aggiungi">
          <button class="admin_button">Gusti</button>
        </div>

        <div class="admin_aggiungi">
          <button class="admin_button">Aggiungi</button>
        </div>

      {{ form_end(form) }}

      </div> <!-- box_aggiungi_gelateria -->


    <div class="box_risultati">

      <div class="ricerca">

      <h3 class="titolo_ricerca">Ricerca Avanzata:</h3>

        <div class="barrainfo">
          <input class="campi_ricerca" type="text" name="email" class="input" placeholder="Nome Gelateria">
        </div>

        <div class="barrainfo">
          <input class="campi_ricerca" type="text" name="email" class="input" placeholder="Città">
        </div>

        <div class="admin_aggiungi">
          <button class="admin_button">Cerca</button>
        </div>

    </div> <!-- box_risultati -->

    <div class="risultati">

      <div class="row">
          <h2 class="city">Bandirali<br>
              <p class="indirizzo">Via Marco Tullio, 8, Milano</p>
          </h2>
              <div class="info">
                  <p>Tel.: 0271346720 <br> Chiusura: Martedì </p>
              </div>
                  <div class="cestino">
                      <a href=""><img src="icons/cestino.png" alt="logo"></a>
                  </div>
      </div>



      <div class="row">
          <h2 class="city">Bandirali<br>
              <p class="indirizzo">Via Marco Tullio, 8, Milano</p>
          </h2>
              <div class="info">
                  <p>Tel.: 0271346720 <br> Chiusura: Martedì </p>
              </div>
                  <div class="cestino">
                      <a href=""><img src="icons/cestino.png" alt="logo"></a>
                  </div>
      </div>



      <div class="row">
          <h2 class="city">Bandirali<br>
              <p class="indirizzo">Via Marco Tullio, 8, Milano</p>
          </h2>
              <div class="info">
                  <p>Tel.: 0271346720 <br> Chiusura: Martedì </p>
              </div>
                  <div class="cestino">
                      <a href=""><img src="icons/cestino.png" alt="logo"></a>
                  </div>
      </div>



      <div class="row">
          <h2 class="city">Bandirali<br>
              <p class="indirizzo">Via Marco Tullio, 8, Milano</p>
          </h2>
              <div class="info">
                  <p>Tel.: 0271346720 <br> Chiusura: Martedì </p>
              </div>
                  <div class="cestino">
                      <a href=""><img src="icons/cestino.png" alt="logo"></a>
                  </div>
      </div>



      <div class="row">
          <h2 class="city">Bandirali<br>
              <p class="indirizzo">Via Marco Tullio, 8, Milano</p>
          </h2>
              <div class="info">
                  <p>Tel.: 0271346720 <br> Chiusura: Martedì </p>
              </div>
                  <div class="cestino">
                      <a href=""><img src="icons/cestino.png" alt="logo"></a>
                  </div>
      </div>



      <div class="row">
          <h2 class="city">Bandirali<br>
              <p class="indirizzo">Via Marco Tullio, 8, Milano</p>
          </h2>
              <div class="info">
                  <p>Tel.: 0271346720 <br> Chiusura: Martedì </p>
              </div>
                  <div class="cestino">
                      <a href=""><img src="icons/cestino.png" alt="logo"></a>
                  </div>
      </div>



      <div class="row">
          <h2 class="city">Bandirali<br>
              <p class="indirizzo">Via Marco Tullio, 8, Milano</p>
          </h2>
              <div class="info">
                  <p>Tel.: 0271346720 <br> Chiusura: Martedì </p>
              </div>
                  <div class="cestino">
                      <a href=""><img src="icons/cestino.png" alt="logo"></a>
                  </div>
      </div>



    </div> <!-- risultati -->

    </div> <!-- box_risultati -->

  {% endblock %}
