{% block fos_user_content %}

{% block stylesheets %}

<link type="text/css" href="{{ asset('css/popup.css') }}" rel="stylesheet">

{% endblock %}


<div id="modal" class="popupContainer" style="display:none;">
	<header class="popupHeader">
		<span class="header_title">Login</span>
		<span class="modal_close"><i class="fa fa-times"></i></span>
	</header>
 
    <section class="popupBody">

<div class="social_login">
    <div class="clearfix">
        <a class="social_box fb" href="#"><span class="icon_title">Connect with
        Facebook</span></a> <a class="social_box google" href="#"><span class=
        "icon_title">Connect with Google</span></a>
    </div>
 
    <div class="centeredText">
        <span>Or use your Email address</span>
    </div>
 
    <div class="action_btns">
        <div class="one_half">
            <a class="btn" href="#" id="login_form" name="login_form">Login</a>
        </div>
 
        <div class="one_half last">
            <a class="btn" href="#" id="register_form" name=
            "register_form">Sign up</a>
        </div>
    </div>
</div>

<div class="user_login">
    <form action="{{ path("fos_user_security_check") }}" method="post">
     <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

       <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

       <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />


       <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

     <input type="submit" class="one_half last" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

       <!--  <div class="action_btns">
            <div class="one_half">
                <a class="btn back_btn" href="#">Back</a>
            </div>
  -->
            
        </div>
    </form>
    
    <a class="forgot_password" href="#">Forgot password?</a>
</div>
<!-- 
    <form>
        <label>Full Name</label> <input type="text"><br>
        <label>Email Address</label> <input type="email"><br>
        <label>Password</label> <input type="password"><br>
 
        <div class="checkbox">
            <input id="send_updates" type="checkbox"> <label for=
            "send_updates">Send me occasional email updates</label>
        </div>
 
        <div class="action_btns">
            <div class="one_half">
                <a class="btn back_btn" href="#">Back</a>
            </div>
 
            <div class="one_half last">
                <a class="btn btn_red" href="#">Register</a>
            </div>
        </div>
    </form> -->
</div>

    </section>
</div>

{% endblock fos_user_content %}






