{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="brand">
    <a href="/"><img src="{{ asset('img/logo_completo.png') }}" alt="logo"/></a>
    </div>

    <div class="registrazione">

    <h2 class="registrazione_payoff">Benvenuto, compila per registrarti!</h2>

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="compilazione_registrazione ">
    <label>Username:</label><br>
    {{ form_row(form.username,{'attr' : {'class' : 'registrazione_input', 'placeholder' : 'Nome'}}) }}
    </div>
    
    <div class="compilazione_registrazione ">
    <label>Email:</label><br>
    {{ form_row(form.email,{'attr' : {'class' : 'registrazione_input'}}) }}
    </div>

    <div class="compilazione_registrazione ">
    <label>Password:</label><br>
    {{ form_row(form.plainPassword,{'attr' : {'class': 'registrazione_input'}}) }}
    </div>

    <div>
        <input class="pulsante" type="submit" value="Registrati" />
    </div>

{{ form_end(form) }}

</div>

{% endblock %}
