{% extends "::base.html.twig" %}

{% block title %}GelatoBundle:Header:Contatti{% endblock %}

{% block body %}

     <div class="Buttons largo100">

    <div class="admin_personal">

        <form action="/" method="POST" name="inserimento-dati">

          <h3 class="inserisciDatiPers">Dati Personali:</h3>

           <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="gelateria" placeholder="Nome">
            </div>

            <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="cognome" class="input" placeholder="Cognome">  
            </div>

            <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="città" class="input" placeholder="Città">
            </div>

            <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="email" class="input" placeholder="Email">
            </div>

            <div class="ad_pers_dati">
              <input class="ad_input" type="text" name="password" class="input" placeholder="Password">
            </div>

            <div class="ad_mod">
              <button class="ad_button">Modifica</button>
            </div>

            <div class="ad_pers_cerca">
              <button class="ad_button">Salva</button>
            </div>

        </form>

      </div> <!-- admin_pers -->

      <div class="admin_add">

         <div id="group_ad">

          <form action="/" method="POST" name="inserimento-dati">

          <h3 class="inserisciDatiAd">Aggiungi Amministratore:</h3>
           <div class="ad_ad_dati">
              <input class="ad_input" type="text" name="nome" placeholder="Nome"/>
            </div>

            <div class="ad_ad_dati">
              <input class="ad_input" type="text" name="cognome" class="input" placeholder="Cognome">
            </div>

            <div class="ad_ad_dati">
              <input class="ad_input" type="text" name="email" class="input" placeholder="Email">
            </div>
          </div> <!-- div id -->

          <div class="admin_cerca">
              <button class="ad_button">Aggiungi</button>
            </div>

        </form>
      </div> <!-- admin_add -->

      <div class="list_admins">

        <h3 class="list_ads">Amministratori:</h3>
          <div class="list_box">
          </div>
      </div>

    </div> <!-- buttons -->

<div class="box_aggiungi_gelateria">

      {{ form_start(form) }}
       
       <h3 class="titolo_aggiungi_gelateria">Aggiungi Gelateria:</h3>

        <div class="input_area">
          {{ form_row(form.name, {'attr': {'class': "admin_input", 'placeholder': "Gelateria", 'type': "text" }}) }}
        </div>

        <div class="input_area">
          {{ form_row(form.city, {'attr': {'class': "admin_input", 'placeholder': "Città", 'type': "text" }}) }}
        </div>

        <div class="input_area">
          {{ form_row(form.address, {'attr': {'class': "admin_input", 'placeholder': "Indirizzo", 'type': "text" }}) }}
        </div>

        <div class="input_area">
          {{ form_row(form.phone, {'attr': {'class': "admin_input", 'placeholder': "Telefono", 'type': "text" }}) }}
        </div>

        <h4> Giorni di Chiusura </h4>

        <div class="checkbox_area">
          {{ form_row(form.monday, {'attr': {'class': "checkbox_area", 'type': "checkbox" }}) }}
        </div>

        <div class="checkbox_area">
          {{ form_row(form.tuesday, {'attr': {'class': "checkbox_area", 'type': "checkbox" }}) }}
        </div>

        <div class="checkbox_area">
          {{ form_row(form.wednesday, {'attr': {'class': "checkbox_area", 'type': "checkbox" }}) }}
        </div>

        <div class="checkbox_area">
          {{ form_row(form.thursday, {'attr': {'class': "checkbox_area", 'type': "checkbox" }}) }}
        </div>

        <div class="checkbox_area">
          {{ form_row(form.friday, {'attr': {'class': "checkbox_area", 'type': "checkbox" }}) }}
        </div>

        <div class="checkbox_area">
          {{ form_row(form.saturday, {'attr': {'class': "checkbox_area", 'type': "checkbox" }}) }}
        </div>

        <div class="checkbox_area">
          {{ form_row(form.sunday, {'attr': {'class': "checkbox_area", 'type': "checkbox" }}) }}
        </div>

        <div class="checkbox_area">
          {{ form_row(form.gusti, {'attr': {'class': "checkbox_area", 'type': "checkbox" }}) }}
        </div>

          <div class="admin_aggiungi">
            {{ form_row(form.save, {'attr': {'class': "admin_button", 'type': "submit" }}) }}
          </div>

      </div>

      {{ form_end(form) }} 


                                                   <!-- RICERCA AVANZATA -->


<div class="box_risultati">

      <div class="ricerca">

      <h3 class="titolo_ricerca">Ricerca Avanzata:</h3>

        <div class="barrainfo">
          <input class="campi_ricerca" type="text" name="email" class="input" placeholder="Nome Gelateria">
        </div>

        <div class="barrainfo">
          <input class="campi_ricerca" type="text" name="email" class="input" placeholder="Città">
        </div>

        <div class="admin_aggiungi">
          <button class="admin_button">Cerca</button>
        </div>

    </div> <!-- ricerca avanzata -->


                                                        <!-- ELENCO -->

{% for gelateria in elenco %}

    <div class="risultati">

      <div class="row">
        <h2 class="name">{{ gelateria.id, {'attr': {'class': "name" }}) }} , {{ gelateria.name, {'attr': {'class': "name" }}) }}<br>
          <p class="indirizzo">{{ gelateria.address, {'attr': {'class': "indirizo" }}) }} , {{ gelateria.city, {'attr': {'class': "indirizo" }}) }}</p>
        </h2>
      <div class="info">
        <p>Tel.: {{ gelateria.phone, {'attr': {'class': "info" }}) }} <br> Chiusura: Martedì </p>
      </div>
      <div class="cestino">
        <a href=""><img src="icons/cestino.png" alt="cestino"></a>
      </div>
    </div>


{% endfor %}

  </div> <!-- risultati -->

</div> <!-- box_risultati -->

{% endblock %}
