{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="brand">
      <a href="/"><img src="img/logo_completo.png" alt="logo"></a>
    </div>

    <h2>LOGIN</h2>
    
<div class="box_login">

    <form action="{{ path("fos_user_security_check") }}" method="post">

    <div class="compilazione">

       <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
       
       <label for="username">{{ 'Username'|trans }}</label><br>
       <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username" /><br>
       
       <label for="password">{{ 'Password'|trans }}</label><br>
       <input type="password" id="password" name="_password" required="required" placeholder="Password" /><br>
       
       <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
       <label for="remember_me">{{ 'Ricordami'|trans }}</label><br>

       <input type="submit" class="pulsante" id="_submit" name="_submit" value="{{ 'login'|trans }}"></input>
   
    </form>

<div class="allinea_pass">
  <p class="passwordimenticata">Hai smarrito la tua Password?
    <a href="{{ url('fos_user_resetting_request') }}">Clicca qui</a>
  </p>

  <p class="registrati">Non hai un account?
    <a href="{{ url('fos_user_registration_register') }}">Registrati</a>
  </p> 
</div>

</div>

{% endblock fos_user_content %} 
</div>
{% endblock body %}
